body
    {
        
        float: left;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
    }

.logo
    {
        margin-left: 10%;
    }
